
body {
    background-size: cover;
    background-position: center;
    transition: background 0s ease-in-out;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart {
    display: none; /* Hide all charts initially */
    position: fixed; /* Fixed position to ensure it stays aligned */
    top: 22%;
    left: 12.5vw;
    width: 75vw; /* Adjust width of charts */
    height: 100vh; /* Adjust height of charts */
    z-index: 2;
}

.video-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0; /* Ensure it spans the right edge */
    bottom: 0; /* Ensure it spans the bottom edge */
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    overflow: hidden; /* Prevents any spillover */
    z-index: 1; /* Keep it under the navigation but above everything else */
    display: flex;
    justify-content: center; /* Center video horizontally */
    align-items: center; /* Center video vertically */
}

video {
    width: 100%; /* Full width of the container */
    height: 100%; /* Full height of the container */
    object-fit: cover; /* Cover the entire area without distorting aspect ratio */
}


.button-container {
    position: absolute;
    right: 70px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 1000;
}

button {
    padding: 1px 2px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    border-radius: 5px;
    transition: background 0.3s, transform 0.2s ease-in-out;
}

button:hover {
    background-color: rgba(0, 0, 0, 0);
    transform: scale(1.05);
}
